html,
body {
    height: 100%;
    margin: 0;
    font-family: monospace;
    background-color: #0f0f23;
    color: #cccccc;
    overflow: hidden;
}

main > span {
    display: block;
}

main > span > span {
    color: #009900;
}

main {
    position: absolute;
    bottom: 30%;
    left: 30%;
    padding-top: 30%;
    width: 50ch;
    white-space: nowrap;
}

p {
    display: inline;
}

.caret {
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        color: #009900;
    }

    50% {
        color: #34be34;
    }

    100% {
        color: #009900;
    }
}
