html,
body {
    height: 100%;
    margin: 0;
    font-family: monospace;
    background-color: #0f0f23;
    color: #cccccc;
    overflow: hidden;
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

main > span {
    display: block;
}

main > span > span {
    color: #009900;
}

main {
    position: absolute;
    bottom: 30%;
    left: 30%;
    padding-top: 30%;
    width: 50ch;
    white-space: nowrap;
}

p {
    display: inline;
}

.caret {
    animation: 1.5s blink step-end infinite;
}

@keyframes blink {

    from,
    to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    color: #484876 !important;
    bottom: 0;
    padding: 30px;
    width: 100%;
}

a:visited,
a:link,
a:active {
    color: #484876 !important;
}
